<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Countries</title>
</head>
<body>
    <header>
        <h1>All Countries</h1>
    </header>
    <main>
        <nav>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/destinations/completed">Completed Trips</a></li>
                <li><a href="/destinations/to-do">To-Do List</a></li>
                <li><a href="/destinations/new">Create New Trip</a></li>
            </ul>
        </nav>
        <article>
            {% for country in countries %}
                <p>
                    <a href="/countries/{{country.id}}">{{ country.name }}</a> 
                </p>
                <form action="countries/{{ country.id }}/delete" method="post">
                    <input type="submit" value="Delete Country">
                </form>
            {% endfor %}

        </form>
        <p>Can't find the country that you want? Why not add one below?</p>
    <form class="new country" action="/destinations/new" method="post">
        <div>
            <label for="country">Add Country:</label>
            <input type="text" id="name" name="name" placeholder="Country">
        </div>
        <button type="submit">Add Country</button>
    </form>
        </article>
    </main>
    <footer>
        <h4>&copy; Blizzard Entertainment</h4>
    </footer>
</body>
</html>