<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>

    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/destinations">All Destinations</a></li>
            <li><a href="/countries">All Countries</a></li>
            <li><a href="/destinations/completed">Completed Missions</a></li>
            <li><a href="/destinations/to-do">To-Do List</a></li>
            <li><a href="/destinations/new">Create New Trip</a></li>
        </ul>
    </nav>
    <article>
        <form action="/destinations/{{ city.id }}/edit_dest" method="post">
            
            <div>
                <label for="country">Country:</label>
                <select id="country" name="country_id">
                    {% for country in all_countries %}
                    <option value="{{ country.id }}"
                    {% if city.country.id == country.id %} selected="selected"{% endif %}>
                    {{ country.name }}
                </option>
                {% endfor %}
            </select>
            </div>
            
            <div>
                <label for="name">City:</label>
                <input type="text" id="name" name="name" value="{{city.name}}" required>
            </div>
                <button type="submit">Update Destination</button>
        </article>
    </main>
    <footer>
        <h4>&copy; Blizzard Entertainment</h4>
    </footer>
</body>
</html>