<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Edit Country</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/home">Home</a></li>
            <li><a href="/destinations">All Missions</a></li>
            <li><a href="/destinations/completed">Completed Missions</a></li>
            <li><a href="/destinations/to-do">Missions</a></li>
            <li><a href="/destinations/new">Create New Missions</a></li>
        </ul>
    </nav>
    <article>
        <form action="/countries/{{ country.id }}/edit" method="post">
            <div>
                <label for="name">Country:</label>
                <input type="text" id="name" name="name" value="{{country.name}}" required>
            </div>

            <button type="submit">Update Country</button>

            </form>
        </article>
    </main>
    <footer>
        <h4>&copy; Blizzard Entertainment</h4>
    </footer>
</body>
</html>