<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='style_home.css') }}" rel='stylesheet'>
    <title>Home</title>
</head>
<body>
    <div class="background">
    <header>
    </header>
    <main>
        <h1>Overwatch Mission App</h1>
        <div class="welcome">
            <div class="image-crop">
                <img src="{{ url_for('static', filename='Profile Picture Winston.jpeg') }}" alt="profile picture">
            </div>
            <div class="text">
                <h3>&#128075; Welcome Winston</h3>
            <ul>
                <li><a href="/destinations">All Missions</a></li>
                <li><a href="/countries">Countries</a></li>
                <li><a href="/destinations/new">Create New Mission</a></li>
            </ul>
            </div>
        </div>
    </main>
    <footer>
        <h4>&copy; Blizzard Entertainment</h4>
    </footer>
    </div>
</body>
</html>