<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destinations</title>
</head>
<body>
    <header>
        <h1>All Destinations</h1>
    </header>
    <main>
        <nav>
            <ul class="menu">
                <li><a href="/home">Home</a></li>
                <li><a href="/countries">All Countries</a></li>
                <li><a href="/destinations/completed">Completed Missions</a></li>
                <li><a href="/destinations/to-do">Missions</a></li>
                <li><a href="/destinations/new">Create New Mission</a></li>
            </ul>
        </nav>
        <article>
            {% for city in city_list %}
                <p>
                    {{city.country.name}} - <a href="/destinations/{{ city.id }}">{{city.name}}</a>:
                    {% if city.completed %}
                        <span> &#9989; </span>
                    {% else %}
                        <span> &#10060; </span>
                    {% endif %}
                </p>
                    <form action="destinations/{{ city.id }}/delete" method="post">
                        <input type="submit" value="Delete Trip">
                    </form>
            {% endfor %}
        </article>
    </main>
    <footer>
        <h4>&copy; Blizzard Entertainment</h4>
    </footer>
</body>
</html>